<div class="jumbotron">
  <h2 id="app_heading">Here is a Project App I Made</h2>
  <div id="app_box">
    <p1 id="app_text">It is a reservation system for a Parasail Operation.
      Feel free to Sign in as a standard user: standard@example.com,
      or as an administrative user: admin@example.com. Stripe is in test mode,
       so 4242 4242 4242 4242 works as the CC#. Feel free to make any reservations,
       cancellations, updates, etc. If you sign up with your own email, you might receive
       blank confirmation, update action emails. This app was never fully completed, but most of the way.
       I did too much inline styling, and much of the code needs to be refactored/deleted/edited. I'm
       only now learning to style more effectively.
       The sloppy source code is <a href="https://github.com/acampbell4444/reservations/">here.</a>
       I found this app to be a great learning experience.</p>
  </div>
  <div class="container">
    <iframe src="https://agile-mountain-14509.herokuapp.com/" width="900" height="1000"></iframe>
  </div>
</div>
