<div class="bio">
  <div class="first_box">
    <h1>Alan Campbell</h1>
    <p class="bio_1">Just a little info about me, myself, and I.</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div id="below_box">
        <link_to "#" class="btn btn-info btn-lg" id= "link">
        <span class="glyphicon glyphicon-baby-formula"></span> Learn about my Early Years
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div id="below_box_2">
        <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-sunglasses"></span> Learn about my Experiences
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div id="below_box">
        <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-education"></span> Learn about my Goals
        </a>
      </div>
    </div>
  </div>
</div>
