<h3> Pick a way to say "Hey!" Get Jiggly With it!<h3>
<a href="https://github.com/acampbell4444" class="logo_1">Logo</a>
<div class="row">
  <div class="col-md-4" id="phone">
    <a href="tel:+3107338381" id="telly">(310) 733-8381 </a>
  </div>
  <div class="col-md-4" id="gmail">
    <a href="mailto:alancampbell4444@gmail.com" id="gelly" ><img src="http://www.guessthelogo.com/images/games/web-logos-3/gmail-logo-4.gif"
    target="_top"></a>
  </div>
  <div class="col-md-4">
    <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
    <div id="SkypeButton_Call_alancampbell4444_1">
      <script type="text/javascript">
        Skype.ui({
          "name": "call",
          "element": "SkypeButton_Call_alancampbell4444_1",
          "participants": ["alancampbell4444"],
          "imageSize": 32
        });
        </script>
    </div>
  </div>
</div>
