<div class="container">
  <div class="row" id="floaters">
    <h2>My Early Years</h2>
    <%= link_to "Click Here to Go Back to Bio", root_path, class:"btn btn-info btn-lg", id: "linky" %>
    </div>
  <table class="table table-striped" id="tabula">
    <thead id="t_head">
      <tr>
        <th>Year</th>
        <th>Highlight</th>
      </tr>
    </thead>
    <tbody>
      <tr id="rowzie">
        <td>1981</td>
        <td>I was Born! That's Pretty Awesome</td>
      </tr>
      <tr id="rowzie_2">
        <td>1982</td>
        <td>My language skills are improving. If only someone would have introduced me to JavaScript</td>
      </tr>
      <tr id="rowzie">
        <td>1983</td>
        <td>My imagination is growing at an exponential rate. I already started wireframing my first app</td>
      </tr>
      <tr id="rowzie_2">
        <td>1986</td>
        <td>My app got derailed, as I became distracted by 'Boys chase Girls' and 'Freeze Tag'</td>
      </tr>
      <tr id="rowzie">
        <td>1988</td>
        <td>Discovered Nintendo. Nothing else exists</td>
      </tr>
      <tr id="rowzie_2">
        <td>1993</td>
        <td>Entered middle school. Got really good at parting my hair down the middle.<br>
           Thought I was really cool because I had "my cartilage pierced". Oh boy</td>
      </tr>
      <tr id="rowzie">
        <td>1996</td>
        <td>High School begins. What a blur. Sports and Honors Classes. Exhausting</td>
      </tr>
      <tr id="rowzie_2">
        <td>1999</td>
        <td>Graduated High School. Yay! Now what? Seriously. I'm still trying to figure that out</td>
      </tr>
    </tbody>
  </table>
</div>
