// Place all the styles related to the me controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.below_navbar {
  margin: 20px 100px 20px 100px;
}

.first_box {
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  background-color: khaki;
}

.bio > h1 {
  color: red;
  color: cornflowerblue;
}

.bio_1 {
  color: navy;

}

#tabula {
  width:600px
}

#t_head {
  background-color: maroon;
  color: white
}

#below_box, #below_boxx, #below_box_2, {
  padding: 30px 20px 30px 20px;
}

#below_box > link, #below_box_2 > a {
  float: left;
}

#below_box_2 > a:hover{
  background-color: transparent;
  color:purple;
}

#floaters > h2 {
  float:left;
  color: orange;
  padding-right: 100px;
  padding-left: 30px;
}
#linky {
  margin: 10px 0px 0px 0px;
}

#rowzie {
  background-color: cyan;
}
#rowzie_2 {
  background-color: greenyellow;
}

.experience_list {
  padding-top: 40px;
  color: green;
  padding-right: 30px;
}

.goals_list {
  padding-top: 0px;
  color: green;
  padding-right: 60px;
}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#h_two {
  text-align: center;
  font-size: 40px;
  color: blue;
  font-family: impact
}

#app_heading {
  padding-top: 60px;
  text-align:center;
  color: tomato;
}
